.cell{
  border: 1px solid black;
  height: 10px;
  width: 10px;
  float: left;
  margin: 0;
}

.gridContainer {
    width: 480px;
    height: 480px;
    margin: 20px auto;
}

[data-value="true"] {
  background-color: red;
}
